.main_area{
width: 100%;
position: relative;
display: flex;
align-items: center;
justify-content: space-around;
padding-top: 9rem;

}

.main_bg{
/* height: auto; */
/* background-image: url('../assets/Vector.svg');
background-repeat: no-repeat;
background-position-x: 80%;
margin-top: 0%;
/* margin-right: 20%; */
/* padding-right: 20%; */

}
.trst_btn_area{
position: relative;
top: 10rem;
left:7.5rem;
}
.trst_btn{
    background-color: #fff;
    border: 2px solid #0AB2EA;
    color: black;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 16px;
}
.bg_arrow{
    width: 70%;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 14%;
   
}

.nav_svg{
    height: 100%;
    width: 10%;
    object-fit: contain;
}
.login_btn{
    background-color: #fff;
    border: 1px solid #000;
    color: black;
    padding: 12px 35px;
    text-align: center;
    cursor: pointer;
    /* border-radius: 16px; */
}
.signup_btn{
    background-color: #0AB2EA;
    border: 4px solid #0AB2EA;
    color: black;
    padding: 10px 35px;
    text-align: center;
    cursor: pointer;
    /* border-radius: 16px; */
}
.features_cont{
margin-bottom: 9rem;
padding: 0 6rem;
}
.dark_down{
    transform: translateX(2rem);
}
.light_down{
    right: -18%!important;
}
.ftext{
position: relative;
bottom: 26px;
}
.f_box{
    display: flex;
    align-items: center;
    justify-content: space-around

}
.item{
width: 250px;
padding: 35px 18px;
background: linear-gradient(98.05deg, #0AB2EA 5.59%, #6F0478 296.05%);
border-radius: 8px;
}
.right_container{
    position: relative;
}
.light_Dash{
    position: absolute;
    right: 10%;
    z-index: 3;
    top: 15%;
    width: 130%;
}
.reverse{
    flex-direction: row-reverse;
}

@media screen and (max-width: 767px){
    .main_area{
        flex-direction: column-reverse;
        padding: 1rem;
    }
    .light_Dash{
        width: 100%;
        right: 7%;
    }
    .dark_Dash{
        width: 80%;
    }
    .right_container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bg_arrow{
        bottom: 9.23rem;
        top: unset;
    }
    .left_container{
        margin-top: 10rem;
    }
    .f_box{
        flex-direction: column;
        gap: 2rem;
    }
    .item{
        width: 80%;
    }
    .features_cont{
        padding: 0;
    }
    .ftext{
        margin-left: 1.5rem;
    }
    .features_cont h2{
        margin-left: 1.5rem;
    }
    .main_area.reverse{
        display: none;
    }
}